name: Deploy Frontend to S3.

on:
  push:
    branches:
      - main
    paths:
      - "index.html"

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::812015287570:role/AWS-4TH-PROJECT
          aws-region: eu-north-1

      - name: Deploy frontend to S3
        run: |
          aws s3 sync index.html s3:sharone//${{ secrets.sharone }} --delete
